* {
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.App {
	font-family: 'Roboto Slab', serif;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.App h1 {
	margin: 20px;
}

.tateti-container {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.tateti-container button {
	border: none;
	background-color: dodgerblue;
	color: white;
	font-size: 1.4rem;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	transition: all 0.1s ease-in-out;
}

.tateti-container button:hover {
	cursor: pointer;
	transform: translateY(-3px);
}

.tateti {
	min-width: 300px;
	min-height: 300px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
